body {
	font-family: 'Montserrat', sans-serif;
	color: #1E1E1E;
	margin: 0;
}

/* Typography */

h1 {
	font-size: 2.3rem;
	color: #A96500; 
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	text-align: center;
}

h2 {
	font: 500 2.1rem 'Dosis', sans-serif;
}

h3 {
	font-size: 1.8rem;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	margin: 1rem 0;
}

/* Lists and general anchors */

ul{
	list-style-type: none;
	padding: 0;
}

ul li a, a{
	text-decoration: none;
}

a {
	color: #757575;
}

/* Forms */

input, select {
	border-radius: 5px;
	border: 0;
	padding: 0 15px;
}

.form-floating label {
	color: #212529;
}

.form-control:focus {
	border-color: #878787;
	box-shadow: 0 0 0 .2rem rgb(255 255 255 / 25%);
}

/* Buttons */

button.btn, input[type="submit"] {
	color: #fff;
	background: #1E1E1E;
	border: 0;
	padding: 15px 35px;
}

button.btn:hover, input[type="submit"]:hover {
	background: #A96500;
	transition: .3s;
}

:not(.btn-check)+.btn:active, input[type="submit"]:focus {
	box-shadow: inset 0px 3px 11px #00000033;
	background-color: #A96500;
}

a.view-more:hover{
	color: #477042;
	transition: .3s;
}

/* Width */

.w-width-90{
	max-width: 90%;
}

.w-desk-730{
	max-width: 730px;
}

/* Images */
img {
	max-width: 100%;
}

/* Utilities */
p{
	margin-bottom: 0;
}

/* Header */
header {
	background: #ffffffb0;
	backdrop-filter: blur(10px);
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link {
	color: #2d2d2d;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link.active {
	color: #A96500;
}
nav.navbar {
	padding: 0;
}

ul.navbar-nav{
	background-color: #f3f3f3;
	box-shadow: inset 0 0 10px #e3e3e3;
}

nav.navbar .container {
	padding: 0;
}
nav.navbar button.navbar-toggler {
	background: #477042;
	border-radius: 0;
	height: 60px;
	width: 60px;
}
nav.navbar span.navbar-toggler-icon:before {
	font: 900 25px 'Font Awesome 6 Free';
	content: '\f0c9';
	color: #fff;
}
.navbar-toggler:focus {
	box-shadow: none;
}
.navbar-brand img {
	max-width: 150px;
}
span.navbar-toggler-icon {
	background-image: none;
}




/* Home */

div#intro-text-block {
	background: #A96500; 
}

div#intro-text-block .py-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

div#highlights-block section.highlights-content.container h2{
	font-weight: 500;
}

div#highlights-block .hl-content {
	box-shadow: 0px 9px 12px 0px rgba(159, 159, 159, 0.32);
}

div#highlights-block .hl-content label {
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	background: #477042;
	padding: 2px 10px;
}

div#frase-block{
	background-image: url(/images/home/fixed-bg/banner-fixed.png);
	height: 230px;
	background-attachment: fixed;
	background-position: center;
}

div#frase-block p span{
	font-weight: 600;
	display: block;
}

div#highlights-block .hl-content {
	background: #F6F6F6;
}

div#highlights-block article img {
	border-radius: 10px 10px 0 0;
}

div#highlights-block .hl-content{
	border-radius: 0 0 10px 10px;
}

div#subscribe-block{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.082);
	max-width: 570px;
}

div#subscribe-block p{
	font-family: 'Dosis', sans-serif;
}

div#subscribe-block .brands img {
	max-width: 60%;
}


/* Gráfico y grabado */

aside, section.items{
	background-color: #f6f6f6;
}

aside h2, section.items h2 {
	font-size: 16px;
	font-weight: 900;
}
aside ul li a, section.items ul li a{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.082);
	background-color: #fff;
}
aside ul li a:hover, section.items ul li a:hover {
	transition: .3s;
	background-color: #477042;
	color: #fff;
}

aside, section.items {
	height: fit-content;
	min-width: 270px;
}

main h2 {
	font-size: 18px;
	font-weight: 900;
}

.grafico-y-grabado-page section {
	margin: 20px 0;
	padding-bottom: 40px;
	border-bottom: 1px solid #E3E3E3;
	scroll-margin-top: 90px;
}
.grafico-y-grabado-page main section:last-child {
	border-bottom: none;
}

.graphic-links a {
	text-align: center;
	text-wrap: nowrap;
}

.graphic-links img {
	border-radius: 10px;
	max-width: 90%;
}
.graphic-links a img:hover {
	box-shadow: 0 5px 10px #979797;
	transition: .3s;
}

/* Escultórico */

.escultorico-links {
	border-bottom: 1px solid #E3E3E3;
	margin-bottom: 30px;
	padding-bottom: 25px;
}

.escultorico-links figure {
	grid-row: 2;
}

.escultorico-links figcaption{
	font-size: 12px;
	color: #757575;
	padding-top: 5px;
}

.escultorico-links figure img{
	border-radius: 10px;
}

.escultorico-links figure {
	margin: 0 auto 1rem;
}

/* Audiovisual */

.material iframe {
	margin-bottom: 15px;
	aspect-ratio: 2 / 1;
}

/* Contact */
.contact-page strong {
	display: block;
}

.contact-items i {
	color: #477042;
}
form#contact-form input[type="submit"] {
	width: 100%;
}

.contact-items a:hover {
	color: #477042;
	transition: .3s;
}


/* FOOTER */
.social-media-content.container {
	border-top: 1px solid #AAAAAA;
}

.social-media-content p {
	font-size: 1.1rem;
	letter-spacing: 6px;
	color: #808080;
}

.social-media-content a{
	color: #808080;
	font-size: 2rem;
	width: 50px;
	display: inline-block;
	border: 1px solid #808080;
	height: 50px;
	line-height: 50px;
	border-radius: 100px;
}

.social-media-content a:hover{
	color: #fff;
	transition: .3s;
	background-color: #A96500;
	border: 1px solid #A96500; 
	box-shadow: 0px 5px 10px #c7c7c7;
}

footer .footer-info{
	background-color: #477042;
}

footer .footer-artelatam .footer-text img{
	max-width: 100px;
}

.newsletter-artelatam h3 {
	font-size: 1.1rem;
}

footer .copyright {
	font-weight: 500;
	font-size: 12px;
}



/* Tablet + Desktop */

@media screen and (min-width: 992px){

	html {
		font-size: 16px;
	
	}

	.page-content {
		max-width: 1170px;
	}

	/* Header */

	.navbar-brand img {
		max-width: 200px;
	}

	nav.navbar ul.navbar-nav li.nav-item a {
		position: relative;
	}

	nav.navbar ul.navbar-nav li.nav-item a:after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #A96500;
		transform-origin: bottom right;
		transition: transform .25s ease-out;
	}

	nav.navbar ul.navbar-nav li.nav-item a:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

	ul.navbar-nav {
		background-color: transparent;
		box-shadow: none;
	}

	/* Home */

	div#highlights-block p {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 95px;
	}

	/* Gráfico y grabado */

	.grafico-y-grabado-page section {
		margin: 0 0 30px 0;
	}
	.graphic-links img {
		max-width: 270px;
	}
	aside h2 {
		font-size: 24px;
		text-align: left;
	}

	/* Escultórico */
	section.items {
		width: fit-content;
		margin: 0 auto;
	}
	section.items h2 {
		font-size: 24px;
	}

	.escultorico-links {
		grid-template-areas:
			'photo text'
			'photo link';
	}

	.escultorico-links figure {
		grid-area: photo;
		max-width: 270px;
	}

	.escultorico-links p {
		grid-area: text;
		align-self: end;
	}

	.escultorico-links a.view-more{
		grid-area: link;
	}

	/* Audiovisual */

	.audiovisual p{
		max-width: 650px;
	}

	/* Contact */

	form#contact-form input[type="submit"] {
		width: fit-content;
	}

	/* Footer */
	.footer-content{
		max-width: 970px;
	}
	.footer-column{
		max-width: 370px;
	}
}
