// Extends

%anchorStyle{
    text-decoration: none;
	color: $mediumGray;
}

%h2SpecialStyle{
    font-size: 18px;
	font-weight: 900;
}

%submenus{
    background: linear-gradient(to bottom,$softBgColor,$lightGray);
	height: fit-content;
	min-width: 270px;
    ul li a{
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.082);
        background-color: #fff;
        &:hover{
            transition: .3s;
            background-color: $primaryColor;
            color: #fff;
        }
    }
}

%alertMsg{
    background: $AlertBg;
    img{
        max-width: 40px;
    }
    p{
        @include fontSizeWeight(13px,700);
        color: $secondaryColor;
    }
}